/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .main {
   background-color: #B2EBF2;
 }

.main-todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  width: 400px;
  margin: auto;

  h1 {
    color: #0097A7;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .todo-item {
    background-color: white;
    border-radius: 3px;
    border: 1px solid #0097A7;
    width: 358px;
    padding: 20px;
    margin: 10px 0;
    box-sizing: border-box;
  }
}
